<!DOCTYPE html>
<html lang='zh-TW'>
<head>
<meta charset='UTF-8'>
<title>分類檔案清單</title>
<style>
table { width: 100%; border-collapse: collapse; }
td, th { border: 1px solid #ddd; padding: 8px; vertical-align: top; }
th { background-color: #f2f2f2; }
</style>
</head>
<body>
<h1>分類檔案清單</h1>
<h2>2024 年</h2>
<table>
<tr>
<td><h3>12 月</h3>
<ul>
<li><a href='refer\report_new\20241208_new_sum_oneday.html' target='_blank'>20241208_new_sum_oneday.html</a> - 2024-12-08</li>
<li><a href='refer\report_new\20241207_new_sum_oneday.html' target='_blank'>20241207_new_sum_oneday.html</a> - 2024-12-07</li>
<li><a href='refer\report_new\20241206_new_shin_oneday.html' target='_blank'>20241206_new_shin_oneday.html</a> - 2024-12-06</li>
<li><a href='refer\report_new\20241205_new_sup_oneday.html' target='_blank'>20241205_new_sup_oneday.html</a> - 2024-12-05</li>
<li><a href='refer\report_new\20241204_new_sum_oneday.html' target='_blank'>20241204_new_sum_oneday.html</a> - 2024-12-04</li>
<li><a href='refer\report_new\20241203_new_shin_oneday.html' target='_blank'>20241203_new_shin_oneday.html</a> - 2024-12-03</li>
<li><a href='refer\report_new\20241201_new_shin_oneday.html' target='_blank'>20241201_new_shin_oneday.html</a> - 2024-12-01</li>
</ul></td>
<td><h3>11 月</h3>
<ul>
<li><a href='refer\report_new\20241130_new_shin_oneday.html' target='_blank'>20241130_new_shin_oneday.html</a> - 2024-11-30</li>
<li><a href='refer\report_new\20241128_new_shin_oneday.html' target='_blank'>20241128_new_shin_oneday.html</a> - 2024-11-28</li>
<li><a href='refer\report_new\20241127_new_shin_oneday.html' target='_blank'>20241127_new_shin_oneday.html</a> - 2024-11-27</li>
<li><a href='refer\report_new\20241126_new_shin_oneday.html' target='_blank'>20241126_new_shin_oneday.html</a> - 2024-11-26</li>
<li><a href='refer\report_new\20241124_new_shin_oneday.html' target='_blank'>20241124_new_shin_oneday.html</a> - 2024-11-24</li>
<li><a href='refer\report_new\20241123_new_shin_oneday.html' target='_blank'>20241123_new_shin_oneday.html</a> - 2024-11-23</li>
<li><a href='refer\report_new\20241121_new_shin_oneday.html' target='_blank'>20241121_new_shin_oneday.html</a> - 2024-11-21</li>
<li><a href='refer\report_new\20241116_new_shin_oneday.html' target='_blank'>20241116_new_shin_oneday.html</a> - 2024-11-16</li>
<li><a href='refer\report_new\20241116_new_sup_oneday.html' target='_blank'>20241116_new_sup_oneday.html</a> - 2024-11-16</li>
<li><a href='refer\report_new\20241114_new_sup_oneday.html' target='_blank'>20241114_new_sup_oneday.html</a> - 2024-11-14</li>
<li><a href='refer\report_new\20241112_new_shin_oneday.html' target='_blank'>20241112_new_shin_oneday.html</a> - 2024-11-12</li>
<li><a href='refer\report_new\20241112_new_sum_oneday.html' target='_blank'>20241112_new_sum_oneday.html</a> - 2024-11-12</li>
<li><a href='refer\report_new\20241111_new_shin_oneday.html' target='_blank'>20241111_new_shin_oneday.html</a> - 2024-11-11</li>
<li><a href='refer\report_new\20241111_new_sum_oneday.html' target='_blank'>20241111_new_sum_oneday.html</a> - 2024-11-11</li>
</ul></td>
</tr>
</table>
</body>
</html>
