<!DOCTYPE html>
<html lang='zh-TW'>
<head>
<meta charset='UTF-8'>
<title>分類檔案清單</title>
<style>
table { width: 100%; border-collapse: collapse; }
td, th { border: 1px solid #ddd; padding: 8px; vertical-align: top; }
th { background-color: #f2f2f2; }
</style>
</head>
<body>
<h1>分類檔案清單</h1>
<h2>2024 年</h2>
<table>
<tr>
<td><h3>12 月</h3>
<ul>
<li><a href='refer/report_goods\20241210_new.html' target='_blank'>20241210_new.html</a> - 2024-12-10</li>
</ul></td>
<td></td>
</tr>
</table>
</body>
</html>
