{% include "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 info">
            <small>興櫃創30日新高股</small>
            <table  class="table table-striped table-info">
                <tr><th>股票</th><th>股名</th></tr>
                {% for high in high1 %}
                <tr><td>{{ high.replace('(',',').replace(')','').split(',')[0] }}</td>
                    <td>{{ high.replace('(',',').replace(')','').split(',')[1] }}
                        <a href="https://goodinfo.tw/tw/StockDetail.asp?STOCK_ID={{ high.replace('(',',').replace(')','').split(',')[0] }}" target='_blank'>g</a>,
                        <a href="{{ url_for('pic_stock', stockid= high.replace('(',',').replace(')','').split(',')[0] ) }} ">P</a>,
                        {% if high.replace('(',',').replace(')','').split(',')[0]|string in monid %}
                        <font color="red">m,</font>
                        {% endif %}
                        G,
                        k

                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-1 ">
            <small>成交量倍數</small>
            <table  class="table table-striped table-info">
                <tr><th>成交量倍數</th></tr>
                
                {% for vol in hvol1 %}
                <tr><td>{{ vol }}</td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>


                
    <div class="col-4">
        <small>興櫃創60日新高股</small>
        <table  class="table table-striped table-danger">
            <tr><th>股票</th><th>股名</th></tr>
            
            {% for high in high2 %}
            <tr><td>{{ high.replace('(',',').replace(')','').split(',')[0] }}</td>
                <td>{{ high.replace('(',',').replace(')','').split(',')[1] }}
                    <a href="https://goodinfo.tw/tw/StockDetail.asp?STOCK_ID={{ high.replace('(',',').replace(')','').split(',')[0] }}" target='_blank'>g</a>,
                    <a href="{{ url_for('pic_stock', stockid= high.replace('(',',').replace(')','').split(',')[0] ) }} ">P</a>,
                    {% if high.replace('(',',').replace(')','').split(',')[0]|string in monid %}
                    <font color="red">m,</font>
                    {% endif %}
                    G,
                    k

                </td>
            </tr>
            {% endfor %}
            </table>
            </div>
    

            <div class="col-4">
                <small>興櫃創90日新高股</small>
                <table  class="table table-striped table-warning">
                    <tr><th>股票</th><th>股名</th></tr>
                    {% for high in high3 %}
                    <tr><td>{{ high.replace('(',',').replace(')','').split(',')[0] }}</td>
                        <td>{{ high.replace('(',',').replace(')','').split(',')[1] }}
                            <a href="https://goodinfo.tw/tw/StockDetail.asp?STOCK_ID={{ high.replace('(',',').replace(')','').split(',')[0] }}" target='_blank'>g</a>,
                            <a href="{{ url_for('pic_stock', stockid= high.replace('(',',').replace(')','').split(',')[0] ) }} ">P</a>,
                            {% if high.replace('(',',').replace(')','').split(',')[0]|string in monid %}
                            <font color="red">m,</font>
                            {% endif %}
                            G,
                            k
    
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                    </div>



            <!-- <div class="col-4">
            <h1>創新高股</h1>
            <ul>
                {% for high in high2 %}
                <li>
                {{ high.replace('(',',').replace(')','').split(',')[0] }}
                {{ high.replace('(',',').replace(')','').split(',')[1] }}
                </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-4">
            <h1>創新高股</h1>
            <ul>
                {% for high in high3 %}
                <li>
                {{ high.replace('(',',').replace(')','').split(',')[0] }}
                {{ high.replace('(',',').replace(')','').split(',')[1] }}
                </li>
                {% endfor %}
                </ul>
            </div> -->

        </div>
    </div>
    {% endblock content %}
</body>
</html>